@using Microsoft.AspNetCore.Http;
@using StockManagement.Controllers;

@{ 
    string username = "User";
    if ( TempData["Username"]  == null ) {
        TempData["Username"] = username;
    }

    // TODO: Uncomment it
    AccessingSessionObj access = Context.Session.GetObject<AccessingSessionObj>("userInfo");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/173d11281b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand"asp-controller="Home" asp-action="Index" style="display: flex;">Stock Management</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" asp-controller="Item" asp-action="Index">Menus</a>
                </div>
                <div class="search-class">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-user">
                        <li class="nav-item"><a class="nav-link" href="#" style="display: flex;"> <i class="fas fa-shopping-cart" style="color: #fff; font-size: 20px;"></i></a>  </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle" style="color: #fff; font-size: 20px;"></i> &nbsp;
                                Hi, @access.customer_name!
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Your Profile</a>
                                <a class="dropdown-item" asp-action="MyOrders" asp-controller="Customer">My Orders</a>
                                <a class="dropdown-item" href="#">Help</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="User">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - StockManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
