@{
    ViewData["Title"] = "Home Page";
}

@using StockManagement.Models
@model List<Item>

<div>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/css/customerMenu.css" type="text/css" />
    <div class=" mt-5">
        <h3 class="top-popular-h3 grey-color bg-white row justify-content-center"> Top most popular items </h3>
        <div class="item-wrapper row ">
            @foreach (Item item in ViewBag.Items)
            {
                <div class="item-space-container col-2 bg-white mr-3 mb-3 pt-3">
                    <a asp-action="Login" asp-controller="User">
                        <div class="item-image">
                            <img class="item-immg" src="/img/@item.item_image" alt="image 1" width="150" height="150" />
                        </div>
                        <div class="item-name-price-container">
                            <div class="item-name color-black">
                                <b> @item.item_name </b>
                            </div>
                            <div class="item-price">
                                <p class="green-color"><b>@item.price.ToString("c")</b></p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>