
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_CustomerHeader.cshtml";
}

<div>

    <link rel="stylesheet" href="~/css/customerMenu.css" type="text/css" />
    <div class="text-center pt-5 pb-5">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <div class="pt-5 pb-5">
            <h6> <i class="fas fa-check-circle green-color big-font-size"></i> Your Order has been successfully placed!  </h6>
        </div>
    </div>
</div>

